<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>runoob.com</title>
    <link href="static/CSS/center.css" rel="stylesheet">


</head>
<body>


<ul class="nav nav-tabs">
    <li><a href="#tab2" data-toggle=tab">首页</a></li>
    <li><a href="#tab2" data-toggle=tab">关注</a></li>
    <li><a href="#tab2" data-toggle=tab">个人中心</a></li>
</ul>

<a href="http://baidu.com"><img src="static/images/20.jpg" width="100" height="100" alt="没有图片"> </a>


<div class="w3-arrow bounce animated"><a href="#about" class="scroll"><i class="fa fa-angle-down"
                                                                         aria-hidden="true"></i></a></div>

<table width="1500" border="0">
    <tr>
        <td colspan="2" style="background-color:#B2FAFF;">
        </td>
    </tr>

    <tr>

        <td style="background-color:#a1eee8;height:600px;width:2000px;">

            <div class="divForm">
                <form action="/search_info" method="post" name="form_submit">
                    {% csrf_token %}
                    <p>编码:<input type="text" name="q" autofocus="autofocus"></p>
                    <p>名称:<input type="text" name="w"></p>
                    <input type="submit" value="搜索">
                    <br><br/>

                </form>

                <form action="/search_address" method="post">
                    {% csrf_token %}
                    <br><input list="browsers" name="list_choice">
                    <datalist id="browsers">
                        {% for i in list %}

                            <option>{{i}}</option>

                        {% endfor %}

                    </datalist>
                    <input type="submit" value="开始">
                </form>


                <br><br>
                <table border="" align="center" style="font-size:12px;"><!--table -->
                    <tr>
                        <th>编码</th>
                        <th>种类</th>
                        <th>名称</th>
                        <th>OK</th>
                        <th>NG</th>
                    </tr>

                    <tr>
                        <th>{{ txm }}</th>
                        <th>{{ typeof }}</th>
                        <th>{{ wupin_name }}</th>
                        <th>{{ thing_okaddress }}</th>
                        <th>{{ thing_ngaddress }}</th>

                    </tr>
                    <tr>
                        {{ result }}

                    </tr>
                </table>


            </div>
        </td>
    </tr>

    <tr>
        <td colspan="2" style="background-color:#FFA500;text-align:center;">
            HE © .com
        </td>
    </tr>


</table>


{#<script>#}
{##}
{#    var x = document.getElementById("browsers")#}
{#    document.write(x)#}
{#    x.add('dfgdf')#}
{##}
{#</script>#}

<a></a>

<a href="#home_page">返回首页</a>


{#{% for i in list %}#}
{##}
{#    <p>{{ i }}</p>#}
{##}
{#{% endfor %}#}
{##}

</body>
</html>