<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
    <style>
        .div_center{
            text-align: center;/*(让div中的内容居中)*/
        }

    </style>

</head>
<body>

<div class="div_center">

<select name="列表名称" size="行数">
<option value="选项的值" selected="selected"(默认选中项)>蓝球</option >
<option value="选项的值">足球</option >
</select>



<input type="checkbox"(复选框) name="interest" value="sports"(值)/>运动
<input type="checkbox" name="interest" value="talk" checked(复选框选中状态) />聊天
<input type="checkbox" name="interest" value="play"/>玩游戏



<input type="reset" (重置按钮) name="butReset"  value="reset按钮"(按钮上显示的文字)>
<input type="submit"(提交按钮) name="butSubmit" value="submit按钮">
<input type="button"(普通按钮) name="butButton" value="button按钮"/>


图片按钮

<input type="image" src="images/login.gif">




<p>邮箱:<input type="email"（邮箱）  name="email"/></p>
<input type="submit"/>


<input type="hidden"(隐藏域) value="666" name="userid">

<textarea rows='10' cols="30">  </textarea>

</div>
</body>
</html>